<%- include('../partials/head') %>
<div class="container">
<h1>Welcome To <%= user.username %>'s pantry!</h1>

<ul>


    <% if (pantry.length!=0) {%>
<% pantry.forEach(food=>{ %>

    <div class="item-container"><li>Food Item: <%= food.name %></li></div>
<% } ) %>
</ul>
<% } else {%>
<h1> There are no food items in <%= user.username %>'s pantry </h1>
    <% }%>
</div>
<%- include('../partials/footer') %>